{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-success container card accountdetailscard formbox">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
<!-- <h3>account stuff for logged in user {{ current_user.username }} </h3> -->
    <hr class="hr">

    <!-- account info section -->
    <div>
    <h3 class="spacertxt">Logged in as: @{{ current_user.username }}</h3>
    </div>
    <div>
    <h5 class="spacertxt">Account info</h5>
    </div>
    <div class="linelogo">
    <div class="logo line"></div>
    </div>

    <div class="container card accountdetailscard">
    <div class="card mb-3 smolevent eventhero" >
        <div class="row g-0">
        <div class="col-md-12 col-lg-8">
            <div class="card-body smolcardbody ">
            <p>User ID: #{{ current_user.id }}</p>
            <p>Email: {{ current_user.email }}</p>
            <p>Contact Number: {{ current_user.phnumber }}</p>
            <a href="./event_details.html" class="btn eventinfobut" data-bs-toggle="modal" data-bs-target="#changeAccountModal">Update details</a>
            </div>
        </div>
        </div>
    </div>
    </div>

    <!-- change details modal -->
    <div class="modal fade" id="changeAccountModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Update Account Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{wtf.quick_form(updateform)}}
                </div>
            </div>
        </div>
    </div>

    <br>
    <div>
      <h5 class="spacertxt">User Events</h5>
    </div>
    <div class="linelogo">
      <div class="logo line"></div>
    </div>

    {% if events|length > 0 %}
    <div class="container orderhistorycard">
        <div class=" card card-body EventContainer">
            {% for event in events %}
            <div class="card mb-3 smolevent" >
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src={{event.imgurl}} class="img-fluid smoleventimg" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body smolcardbody">
                        <h5 class="card-title">{{event.title}}</h5>
                        <p class="card-text"><small class="text-muted">Event ID: #{{event.id}}</small></p>
                        <p class="card-text"><small class="text-muted">Event Speaker: {{event.speaker}}</small></p>
                        <p class="card-text"><small class="text-muted">Event Description: {{event.description}}</small></p>
                        <p class="card-text"><small class="text-muted">Date : {{event.datetime}}</small></p>
                        <p class="card-text"><small class="text-muted">Number of tickets: {{event.tickets}}</small></p>
                        <p class="card-text"><small class="text-muted">Price Pre Ticket: {{event.price}}</small></p>
                        <a class="alink" href="/events/{{event.id}}">Edit Event</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <br>
    <div>
      <h5 class="spacertxt">Order History</h5>
    </div>
    <div class="linelogo">
      <div class="logo line"></div>
    </div>


    <!-- bookings loop -->
    {% if bookings|length > 0 %}
    <div class="container orderhistorycard">
        <div class=" card card-body EventContainer">
            {% for booking in bookings %}
            <div class="card mb-3 smolevent" >
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src={{booking.imgurl}} class="img-fluid smoleventimg" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body smolcardbody">
                        <h5 class="card-title">{{booking.title}}</h5>
                        <p class="card-text"><small class="text-muted">Order ID: #{{booking.id}}</small></p>
                        <p class="card-text"><small class="text-muted">Date Booked: {{booking.date}}</small></p>
                        <p class="card-text"><small class="text-muted">Number of tickets: {{booking.qty}}</small></p>
                        <p class="card-text"><small class="text-muted">Price Pre Ticket: {{booking.ticketprice}}</small></p>
                        <p class="card-text"><small class="text-muted">Total: {{booking.ticketprice * booking.qty}}</small></p>
                        <a class="alink" href="/events/{{booking.eventid}}">View Event Page</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}




{% else %}
<h3>Sign in to view this page</h3>
{% endif %}

{% endblock %}