{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<hr id="cathr">

    <!-- selections buttons -->
    <div class="container spacertxt ">
      <a class="btn btn-primary btn-lg" href="/events/create">Create an Event</a>
    </div>
    <div>
      <h2 class="spacertxt">Available Categories</h2>
    </div>

    <div class="container catbuttons">
      <p class="catp">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#mathcategory" role="button" aria-expanded="false" aria-controls="mathcategory">
          math
        </a>
      </p>
      <p class="catp">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#sciencecategory" role="button" aria-expanded="false" aria-controls="sciencecategory">
          science
        </a>
      </p>
      <p class="catp">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#technologycategory" role="button" aria-expanded="false" aria-controls="technologycategory">
          technology
        </a>
      </p>
      <p class="catp">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#socialcategory" type="button" aria-expanded="false" aria-controls="socialcategory">
          social
        </a>
      </p>
      <p class="catp">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#businesscategory" role="button" aria-expanded="false" aria-controls="businesscategory">
          business
        </a>
      </p>
    </div>




    <!-- math category -->
    <div class="collapse multi-collapse container" id="mathcategory">
      <div class=" card card-body EventContainer">
        <h3 class="eventcardh3">Math talks</h3>
          {% for event in events %}
            {% if event.category == "mathcategory" and event.status != "Unpublished"%}
            <div class="card mt-3" style="width: 18rem;">
              <img src={{event.imgurl}} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="alink" href="/events/{{event.id}}">Go somewhere</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        <hr>
      </div>
    </div>
    <!-- science category -->
    <div class="collapse multi-collapse container" id="sciencecategory">
      <div class="card card-body EventContainer">
        <h3>Science talks</h3>
          {% for event in events %}
            {% if event.category == "sciencecategory" and event.status != "Unpublished"%}
              <div class="card mt-3" style="width: 18rem;">
                <img src={{event.imgurl}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{event.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="alink" href="/events/{{event.id}}">Go somewhere</a>
                </div>
              </div>
              {% endif %}
          {% endfor %}
        <hr>
      </div>
    </div>
    <!-- technology category -->
    <div class="collapse multi-collapse container" id="technologycategory">
      <div class="card card-body EventContainer">
        <h3>Technology talks</h3>
          {% for event in events %}
            {% if event.category == "technologycategory" and event.status != "Unpublished"%}
              <div class="card mt-3" style="width: 18rem;">
                <img src={{event.imgurl}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{event.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="alink" href="/events/{{event.id}}">Go somewhere</a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        <hr>
      </div>
    </div>
    <!-- social category -->
    <div class="collapse multi-collapse container" id="socialcategory">
      <div class="card card-body EventContainer">
        <h3>Social studies talks</h3>
          {% for event in events %}
            {% if event.category == "socialcategory" and event.status != "Unpublished"%}
              <div class="card mt-3" style="width: 18rem;">
                <img src={{event.imgurl}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{event.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="alink" href="/events/{{event.id}}">Go somewhere</a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        <hr>
      </div>
    </div>
    <!-- business category -->
    <div class="collapse multi-collapse container" id="businesscategory">
      <div class="card card-body EventContainer">
        <h3>Business talks</h3>
          {% for event in events %}
            {% if event.category == "businesscategory" and event.status != "Unpublished"%}
              <div class="card mt-3" style="width: 18rem;">
                <img src={{event.imgurl}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{event.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a class="alink" href="/events/{{event.id}}">Go somewhere</a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        <hr>
      </div>
    </div>


    <hr class="footerhr" id="todayshr">

{% endblock %}