{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<!-- hero banner -->
<div class="container-md">
    <div class="card hero">
      <div class="card-body flx">
        <div>
          <h1 class="card-title">All it takes is one idea</h1>
          <p class="card-text">Discover a world of events from our star lineup of self help gurus here at Better Events™</p>
          <a href="#discoverhr" class="btn ">Discover Better Events</a>
        </div> 
      </div>
    </div>
  </div>

  <hr id="discoverhr">
  <div>
    <h2 class="spacertxt">Discover a Better You</h2>
  </div>
  <div class="linelogo">
    <div class="logo line"></div>
  </div>

  <!-- smaller cards -->
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card smol blue">
          <div class="card-body">
            <h3 class="card-title">Browse by category</h3>
            <p class="card-text">Find the perfect personal development event for you based on our categories</p>
            <div class="sepr"></div>
            <a href="#" class="btn btn-primary">Take me there</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card smol pink">
          <div class="card-body">
            <h3 class="card-title">Today's pick</h3>
            <p class="card-text">Check out the staff highlighted event selected daily</p>
            <div class="sepr"></div>
            <a  class="btn btn-primary" href="#">Take me there</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card smol blue">
          <div class="card-body">
            <h3 class="card-title">View all events</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="sepr"></div>
            <a  class="btn btn-primary" href="#">Take me there</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}