{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-success container card accountdetailscard formbox">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}




<div class="container card accountdetailscard formbox">
    <div class="card mb-3 smolevent eventhero" >
        <div class="row g-0">
        <div class="col-md-12 col-lg-12">
            <div class="card-body smolcardbody formbox">
                {{wtf.quick_form(form)}}
            </div>
        </div>
        </div>
    </div>
    </div>





{% endblock %}