html {
    scroll-behavior: smooth;
  }
/* headings & lists*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 500;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.catp{
    text-align: center;
}
a{
    text-decoration: none;
}
a.alink{
    color: #cc7371;
    font-weight: 400;
}

ul{
    margin: 10px auto;
}

/* buttons */
a.btn{  
    border-radius: 20px;
    padding: 7px 15px;
    background-color: #616161;
    border: none;
    color: azure;
}
.multitogglebut{
    border-radius: 20px;
    padding: 7px 15px;
    background-color: #616161;
    border: none;
    color: azure;    
}


a.btn:hover, a.btn:active, a.btn:focus, .multitogglebut:hover, .multitogglebut:active, .multitogglebut:focus{
    background-color: #333333;
    box-shadow: none;
    color: azure;   
}

/* navigation bar */
a.nav-link{
    transition: transform 0.3s;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    border-bottom: transparent solid 1px;
    user-select: none;
}

a.nav-link:hover{
    color: #cc7371;
    border-bottom: #cc7371 solid 1px;
    transform: scale(1.05);
}
a.nav-link:focus{
    color: #FD8886;
}

div.spurs{
    height: 50px;
}

hr {
    width: 50%;
    margin: 25px auto;

}

.nobordercolorPLEASE{
    border-color: transparent;
}

div.hero
{
    transition: background-size 0.7s;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
    background-position: center;
    text-align: center;
    color: azure;
    background-size: 100%;
    border-radius: 20px;
    margin-top: 30px;
    height: 60vh;
}
div.hero:hover{
    background-size: 110%;
}

div.flx{
    transition: transform 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.flx:hover{
    transform: scale(1.05);
}

/* small cards */
div.smol{
    transition: margin-top 0.5s, background-color 0.7s;
    padding:60px 10px;
    border-radius: 20px;
    margin-top: 15px;
}
/* 
div.smol:hover{
    margin-top: -5px;
} */

div.blue:hover{
    background-color:#B5D3D5;
}

div.pink:hover{
    background-color: #EAAEB2;
}

/* footer */
div.footer{
    color: #333333;
    text-align: center;
}
hr.footerhr{
    margin-top: 100px;
}

div.sepr{
    transition: width 0.5s;
    height: 0.5px;
    background-color: #cccccc;
    margin: 20px auto;
    width: 50%;
}

.spacertxt{
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
}

div.smol:hover .sepr{
    background-color: #616161;
    width: 60%;
}
.accountdetailscard{
    border-radius: 20px;
    max-width: 700px;
    border-color: transparent;
}



div.logo{
    height: 0.5px;
    background-color: #cccccc;
    margin: 20px auto;
    width: 10%;
}
/* logo */
.sitelogo{
    transition: scale 0.3s, background-color 0.5s;
    color: #333333;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 20;
    text-align: center;
    padding-top: 18px;
    margin: 20px auto;
    border: #333333 solid 2px;
    width: 80px;
    height: 80px;
    user-select: none;
}
.sitelogospan{
    font-weight: 100;
    user-select: none;
}
.sitelogo:hover{
    scale: 1.1;
    background-color: #FD8886;
    color: azure;
    border: transparent solid 2px;
}

p.navbartext{
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
    font-weight: 500;
    padding-top: 18px;
    
}

button.togbut{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    padding-right: 20px;
}
button.togbut:focus{
    color:#cc7371
}

.navbar-toggler-icon {
    transition: color 0.5s;
    background-image: none;
    color: #333333;
}
.navbar-toggler-icon:hover{
    background-image: none;
    color:#FD8886;
}

div.collapse{
    border: transparent;

}
.EventContainer{
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.EventContainersmol{
    border: transparent;
}
.eventheroimgsmol{
    size: 50px;
}

.catbuttons{
    text-align: center;
}
.catp{
    display: inline-block;
    margin: 0px 3px;
    padding-bottom: 5px;
}

.smoleventimg{
    height: 400px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.eventheroimg{
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}

.eventhero{
    border-color: transparent;
}
.eventherotitle{
    padding-top: 20px;
}

.smolevent{
    border-radius: 20px;
}


.smolcardbody{
    padding: 30px;
}

div.todaycard{
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.bigcard{
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.eventcardh3{
    padding-top: 50px;
    padding-bottom: 25px;
}

.eventinfobut{
    color: azure;
}
.eventinfobut:hover{
    color: azure;
}

.alleventsbut{
    color: #cc7371;
}

.comment{
    transition: background-color 0.5s, border-radius 0.7s, scale 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.newcomment{
    padding-bottom: 30px;
}
.comment:hover{
    background-color: #f0f0f0;
    border-radius: 5px;
    scale: 1.01;
    border-width: 2px;
}
.commentinputs{
    width: 100%;
}

.commentinputs:focus {
    border-color: none;
}


/* media queries */
@media (min-width:576px){
    button.togbut, p.navbartext {
        display: none;
    }
    
}
@media (max-width:576px){
    ul.nav{
        padding-left: 20px;
    }
}
@media (min-width:1200px) {
    div.smol:hover {
        margin-top: -5px;
    }
}
@media (max-width:767px) {
    .smoleventimg{
        height: 300px;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
    }
}

